<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {% for id, pelajaran, nilai in data %}
                <p>{{pelajaran}}</p>
                <input type="text" name="{{id}}" id="{{id}}" placeholder="{{nilai}}" value="{{nilai}}">                
                <br>
            {% endfor %}
            <input type="submit" value="Save">
        </form>
    </body>
</html>