{% extends 'base.html' %}

{% block content %}

    Hello, {{ user.username|default:'Guest' }}! <br>
    Anda adalah seorang {{user.level}}
    INI DASHBOARD KELAS {{kelas}}

    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% if user.level == 'G' %}
        <h2>List murid yang walikan</h2>
        {% for siswa, status in data %}
            <p>
                <a href="{% url 'list_nilai' siswa.nisn %}">INSERT NILAI {{siswa.nama}}</a><br>
                <a href="{% url 'edit-siswa' siswa.nisn %}">EDIT {{siswa.nama}}</a><br>
                {% if status == True %}
                    Sudah lengkap 
                    <a href="{% url 'export-pdf' siswa.nisn %}?action=download">Export PDF</a>
                    <a href="{% url 'export-pdf' siswa.nisn %}?action=preview">Preview PDF</a> 
                {% else %}
                    Belum lengkap
                {% endif %} 
            </p><br>          
        {% endfor %}

        {% if bundle_export == True %}
            <a href="{% url 'bundle-export' %}">Download Bundle PDF</a>
        {% endif %}

    {% elif user.level == 'S' %}
        {% if kelas %}
            <h2>Walikelas anda</h2>
            {{kelas.walikelas}}
        {% endif %}
        

        <br><br>
        <h1>Nilai Anda</h1>
        
        {% for id, pelajaran, nilai in data %}
            <p>{{id}}-{{pelajaran}}: {{nilai}}</p>
        {% endfor %}

    {% elif user.level == 'A' %}
        <a href="{% url 'bulk-insert' %}">BULK INSERT NOWWWW</a>
        <a href="{% url 'create-user' %}">Create siswa</a>

        <h2>List Siswa</h2>
        {% for siswa in siswa %}
            <a href="{% url 'siswa' siswa.nisn %}">{{siswa}}</a>&nbsp;
            <a href="{% url 'delete-user' siswa.nisn %}">Delete</a><br>
        {% endfor %}
    {% else %}

    {% endif %}
    

{% endblock content %}