{% load pwa %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% progressive_web_app_meta %}

        {% include 'include/css.html' %}
        {% block stylesheet %}
        {% endblock stylesheet %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rapor Manajemen</title>
    </head>
    <body>
        {% block navbar %}
        {% endblock navbar %}

        <div class="content">
            {% block content %}        
            {% endblock content %}
        </div>

        {% block pagination %}          
        {% endblock pagination %}

        {% block footer %}
        {% endblock footer %}

        {% block script %}
        {% endblock script %}
        {% include 'include/js.html' %}
    </body>
</html>