<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rapor Manajemen</title>
    </head>
    <body>
        {% block navbar %}{% endblock navbar %}

        {% block content %}        
        {% endblock content %}

        {% block pagination %}          
        {% endblock pagination %}

        {% block footer %}
        {% endblock footer %}

        {% block extra_script %}
        {% endblock extra_script %}

        {% if user.is_authenticated %}
            {% if user.akun_guru %}
                haloluya {{user.akun_guru.nama}},<br>
                anda adalah seorang guru
            {% elif user.akun_siswa %}
                haloluya {{user.akun_siswa.nama}},<br>
                anda adalah seorang siswa
            {% endif %}
        {% endif %}
        
    </body>
</html>