{% extends 'base.html' %}

{% block content %}
    <h1>{{siswa.nama}}</h1>
    {% if user.nomor_induk == siswa.nisn or user.level == 'A' %}
        <small>
            <a href="{% url 'edit-siswa' siswa.nisn %}">Edit</a>
            <a href="{% url 'delete-user' siswa.nisn %}">Delete</a>
            <a href="{% url 'edit-user' siswa.nisn %}">Edit Akun</a>
        </small>
    {% endif %}

    {% if siswa.kelas %}
        <h2>
            Kelas: <a href="{% url 'detail-kelas' siswa.kelas.nama %}">{{ siswa.kelas }}</a>
            Walikelas: <a href="{% url 'detail-guru' siswa.kelas.walikelas.nip %}">{{ siswa.kelas.walikelas }}</a>
        </h2> 
        
        <p>Nilai:</p>
        {% for id, pelajaran, nilai in data_nilai %}
            <h5>
                {{pelajaran}}: {{nilai}}
            </h5>
        {% endfor %}      
    {% endif %}        
{% endblock content %}