{% extends "base.html" %}

{% block content %}
    {% for siswa in object_list %}
        <a href="{% url 'siswa' siswa.nisn %}">{{siswa}}&nbsp;</a>
        {% if not siswa.kelas == None %}
            <a href="{% url 'detail-kelas' siswa.kelas.nama %}">{{siswa.kelas}}</a>&nbsp;        
        {% endif %}
        <a href="{% url 'delete-user' siswa.nisn %}">Delete</a><br>  
    {% empty %}
        <h2>No Siswa Yet</h2>
    {% endfor %}    

    {% include "components/pagination.html" with extra_param='kelas' extra_value=request.GET.kelas %}
{% endblock content %}