{% extends 'base.html' %}

{% block content %}

    Hello, {{ user.username|default:'Guest' }}! <br>
    Anda adalah seorang {{user.level}}
    INI DASHBOARD KELAS {{kelas}}

    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% if user.level == 'G' %}
        <h2>List murid yang walikan</h2>
        {% for siswa, status in data %}
            <p><a href="{% url 'list_nilai' %}?nisn={{siswa.nisn}}">{{siswa.nama}}</a> &nbsp;{{siswa.nisn}}&nbsp; {% if status == True %}Sudah lengkap <a href="{% url 'export-pdf' %}?nisn={{siswa.nisn}}">Export PDF</a> {% else %}Belum lengkap{% endif %} </p>            
        {% endfor %}

    {% elif user.level == 'S' %}
        {% if kelas %}
            <h2>Walikelas anda</h2>
            {{kelas.walikelas}}
        {% endif %}
        

        <br><br>
        <h1>Nilai Anda</h1>
        
        {% for id, pelajaran, nilai in data %}
            <p>{{id}}-{{pelajaran}}: {{nilai}}</p>
        {% endfor %}
    {% else %}

    {% endif %}
    

{% endblock content %}