{% extends 'base.html' %}

{% block content %}

    Hello, {{ user.username|default:'Guest' }}! <br>
    Anda adalah seorang {{user.level}}
    INI DASHBOARD KELAS {{kelas}}

    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% if user.level == 'G' %}
        <h2>List murid yang walikan</h2>
        {% for account in siswa %}
            <p>{{account.nama}} &nbsp;{{account.user.nomor_induk}}</p><br>
        {% endfor %}

    {% elif user.level == 'S' %}
        {% if kelas %}
            <h2>Walikelas anda</h2>
            {{kelas.walikelas}}
        {% endif %}
        

        <br><br>
        <h1>Nilai Anda</h1>
        
        {% for dict in skor %}
            {% for pelajaran, nilai in dict.items %}
                <p>{{pelajaran}}: {{nilai}}</p>
            {% endfor %}        
        {% endfor %}
    {% else %}

    {% endif %}
    

{% endblock content %}