{% extends 'base.html' %}

{% block content %}
    <h1>{{guru.nama}}</h1>
    <h2>Walikelas: <a href="{% url 'detail-kelas' kelas.nama %}">{{ kelas }}</a></h2>

    <p>Jumlah Siswa Yang Di Walikan: {{count_siswa}}</p>

    <p>Siswa Yang Sudah Lengkap Nilainya: 
        {% for siswa in finished_siswa %}
            <h4><a href="{% url 'detail-siswa' siswa.nisn %}">{{siswa.nama}}</a></h4>
            <h5>
                <a href="{% url 'list_nilai' siswa.nisn %}">INSERT NILAI</a>                
                <a href="{% url 'export-pdf' siswa.nisn %}?action=download">Export PDF</a>
                <a href="{% url 'export-pdf' siswa.nisn %}?action=preview">Preview PDF</a> 
            </h5>
        {% endfor %}
    </p>

    <p>Siswa Yang Belum Lengkap Nilainya:
        {% for siswa in unfinished_siswa %}
            <h4><a href="{% url 'detail-siswa' siswa.nisn %}">{{siswa.nama}}</a></h4>
            <h5>
                <a href="{% url 'list_nilai' siswa.nisn %}">INSERT NILAI</a>
            </h5>
        {% endfor %}
    </p>

{% endblock content %}